<ion-view view-title="Male">
    <ion-nav-bar class="bar-stable">
        <table border="" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td class="logoLeft"></td>
                <td class="logo"></td>
                <td class="logoRight"></td>
            </tr>
        </table>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>
    <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <ng-repeat="playlist in playlists">
                    <input type="text" placeholder="Search" ng-model="test">
            </label>
        </div>
        
	<ion-list>
      <ion-item ng-repeat="playlist in playlists | filter:test" href="#/app/checkSymptom/{{playlist.id}}/m">
       
      <h2> {{playlist.row}}. {{playlist.title}}</h2>
      <p>{{playlist.titleEng}}</p>
    
      </ion-item>
    </ion-list>
  
  </ion-content>
</ion-view>
