<ion-view view-title='Menu'>
    <ion-nav-bar class="bar-stable">
        <table border="" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td class="logoLeft"></td>
                <td class="logo"></td>
                <td class="logoRight"></td>
            </tr>
        </table>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="false">
        <div class="row text-center">
            <div class="col">
                <div class="mnudesc">
                    <div class="row">
                        <div class="col">
                            <div class="mnudesc">
                                <a href="#/app/symptom">
                                    <img class="sideImg"id="symptom" src="images/icon_blank.png"/>
                                </a>
                                <p class="text">Symptom</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a ng-click="openFindDoctor(finddoctor)">
                                    <img class="sideImg"id="findDoctor" src="images/icon_blank.png"/>
                                </a>
                                <p class="text">Find Doctor</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="">
                                <a ng-click="openAskExpert(askexpert)">
                                    <img class="sideImg"id="askExpert" src="images/icon_blank.png"/>
                                </a>
                                <p class="text">Ask Expert</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="mnudesc">
                                <a ng-click="openHomePage(homepage)">
                                    <img class="sideImg"id="homePage" src="images/icon_blank.png"/>
                                </a>
                                <p class="text">Home Page</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a ng-href="tel:1772">
                                    <img class="sideImg"id="appointment" src="images/icon_blank.png"/>
                                </a>
                                <p class="text">Appointment</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a href="#/app/map">
                                    <img class="sideImg"id="mapicon" src="images/icon_blank.png"/>
                                </a>
                                <p class="text">Map</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="mnudesc">
                                <a href="#/app/firstAids">
                                    <img class="sideImg"id="firstAid" src="images/icon_blank.png"/>
                                </a>
                                <p class="text">First Aid</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a ng-click="openPromotion(promotion)">
                                    <img class="sideImg"id="promotion" src="images/icon_blank.png"/>
                                </a>
                                <p class="text">Promotion</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a href="#/app/healthTest" >
                                    <img class="sideImg" id="healthQuote" src="images/icon_blank.png" />
                                </a>
                                <p class="text">Health Quote</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
