<ion-view view-title='Menu'>
    <ion-nav-bar class="bar-stable">
        <table border="" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td class="logoLeft"></td>
                <td class="logo"></td>
                <td class="logoRight"></td>
            </tr>
        </table>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="false">
        <div class="row text-center">
            <div class="col">
                <div class="mnudesc">
                    <div class="row">
                        <div class="col">
                            <div class="mnudesc">
                                <a href="#/app/symptom">
                                    <img src="images/ico_symptom.png" />
                                </a>
                                <p class="text">Symptom</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a ng-click="openFindDoctor(finddoctor)">
                                    <img src="images/ico_finddoc.png" />
                                </a>
                                <p class="text">Find Doctor</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="">
                                <a ng-click="openAskExpert(askexpert)">
                                    <img src="images/ico_askExpert.png" />
                                </a>
                                <p class="text">Ask Expert</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="mnudesc">
                                <a ng-click="openHomePage(homepage)">
                                    <img src="images/ico_homepage.png" />
                                </a>
                                <p class="text">Home Page</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a href="#/app/appointment">
                                    <img src="images/ico_appointment.png" />
                                </a>
                                <p class="text">Appointment</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a href="#/app/map">
                                    <img src="images/ico_map.png" />
                                </a>
                                <p class="text">Map</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="mnudesc">
                                <a href="#/app/firstAids">
                                    <img src="images/ico_firstAid.png" />
                                </a>
                                <p class="text">First Aid</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a ng-click="openPromotion(promotion)">
                                    <img src="images/ico_promotion.png" />
                                </a>
                                <p class="text">Promotion</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mnudesc">
                                <a href="#/app/healthTest">
                                    <img src="images/icon60x60/icon_healthQuote.png" />
                                </a>
                                <p class="text">Health Quote</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
