<ion-view view-title="Symptom">
    <ion-nav-bar class="bar-stable">
        <table border="" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td class="logoLeft"></td>
                <td class="logo"></td>
                <td class="logoRight"></td>
            </tr>
        </table>
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
  <ion-content>
    
	
<div class="item item-text-wrap" style="text-align:center">
    <b>ระบุเพศ</b>
  </div>
	<div
 style="text-align:center">
            <table  width="100%" border="0" cellspacing="2" cellpadding="0">  
  <tr>  
    <td> <img src="img/male.png" id="male" onclick="location.href='#/app/clickMale'" border="0" ><h3 style="color:#006600" >เพศชาย</h3></td>  
    <td> <img src="img/female.png" id="female" onclick="location.href='#/app/clickFemale'" border="0"><h3 style="color:#006600">เพศหญิง</h3></td>  
    
  </tr>  
</table>  
        </div>


  </ion-content>
</ion-view>
