<ion-view view-title="Symptom">
  <ion-content>
    
	<button class="button button-full button-stable">
  ระบุเพศ
</button>
	<div
 style="text-align:center">
            <table  width="100%" border="0" cellspacing="2" cellpadding="0">  
  <tr>  
    <td> <img src="img/male.png" id="male" onclick="location.href='#/app/clickMale'" border="0" ><h3 style="color:#006600" >เพศชาย</h3></td>  
    <td> <img src="img/female.png" id="female" onclick="location.href='#/app/clickFemale'" border="0"><h3 style="color:#006600">เพศหญิง</h3></td>  
    
  </tr>  
</table>  
        </div>


  </ion-content>
</ion-view>
